.job-detail {
  background-image: url(../../assets/Vector.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding: 0px 0px 80px 0px;
}
.job-detail h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 44px;
  color: #1a1919;
}

.job-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  border: 1px solid #757575;
  padding: 50px;
}
.details-contact {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  border-radius: 8px;
  padding: 30px;
}
.job-details h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #1a1919;
  margin-bottom: 10px;
}
.job-details p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #757575;
  margin: 5px 0px;
}

.job-details span {
  font-weight: 700;
  color: #1a1919;
}

.apply {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .job-details {
    grid-template-columns: 1fr;
  }
}
