.card {
  padding: 40px;
}

.card img {
  width: 150px;
  height: 50px;
}

.card h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #474747;
  margin: 25px 0px 8px 0px;
}
.card h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #757575;
}

.card .type button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background: transparent;
  padding: 6px 15px;
  border-radius: 4px;
  color: rgba(126, 144, 254, 1);
  border: 1px solid rgba(126, 144, 254, 1);
  margin: 10px 0px;
}

.location-salary p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}

.heroicon {
  height: 24px;
  width: 24px;
  display: inline;
}
